@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
